.gitignore
README.md

# Data
.data/
data/

# jupyter notebook checkpoints
.ipynb_checkpoints
.notebooks
.virtual_documents

# results figure folder
result_fig/
results/
.results/
.figures

__pycache__
*.csv
rough*
*pyc

# saved model
*.pth

# logs
log/
logs/
*.log

# dirs
old_model/
docs/
hydra_log/
